.big-div {
    width: 99%;height: 100% auto;margin: 0 auto;
}
.left-div {
    width: 22%;height: 700px;border: 1px solid #0f0f0f;float: left;padding: 5px;
}
.left-top-div {
    height: 5%;background: #23527c;margin: 5px;
}
.left-bottom-div {
    height: 90%;border: 1px solid #0f0f0f;margin: 5px;
}
.middle-div {
    width: 55%;height: 700px;border: 1px solid #0f0f0f;float: left;padding: 5px;
}
.middle-top-div {
    height: 60%;border: 1px solid #0f0f0f;margin: 5px;
}
.middle-bottom-div {
    height: 25%;border: 1px solid #0f0f0f;margin: 75px 3px 5px;
}

.right-div {
    width: 20%;height: 700px;border: 1px solid #0f0f0f;float: left;padding: 5px
}
.right-top-div {
    height: 7%;border: 1px solid #0f0f0f;margin: 5px;
}
.right-bottom-div {
    height: 90%;border: 1px solid #0f0f0f;margin: 5px;
}

.room-relation-head{
    background-color: blue;
    height: 60px;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 60px;
    float: left;
    width: 66px;
}
.room-relation-nick{
    margin-top: 10px;
    float: right;
}
.room-relation-msg{
    margin-top: 50px;
    float: right;
}
.room-relation-list img{
    width: 66px;
    height: 66px;
}
.room-relation-list{
    cursor: pointer;
}
.room-relation-list:hover{
    background-color: #8c8c8c;
}
.room-relation-nick{
    margin-right: 65px;
    float: right;
    margin-top: 10px;
}
.room-relation-msg{
    float: right;
    margin-top: 34px;
}
.room-send-button{
    margin-top: 37px;
    float: right;
    margin-right: 6px;
}